<h1>Produtos</h1>

<h3>Alimentação</h3>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let produto of getProdutosAlimentaca()" style="margin-right: 8px;"
    [routerLink]="['/detalhamento/' + produto.id]">
    <app-product [nome]="produto.produto" [valor]="produto.valor">
    </app-product>
  </div>
</div>

<h3>Limpeza</h3>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let produto of getProdutosLimpeza()" style="margin-right: 8px;"
    [routerLink]="['/detalhamento/' + produto.id]">
    <app-product [nome]="produto.produto" [valor]="produto.valor">
    </app-product>
  </div>
</div>
