<div class="header">
  <div class="bolder">
    loja
  </div>
  <div class="list">
    <button class="option" [routerLink]="['produtos']">
      produtos
    </button>
    <button class="option" [routerLink]="['cadastro']">
      cadastro
    </button>
    <button class="option" [routerLink]="['carrinho']">
      {{ totalDeItens() === 0 ? 'carrinho vazio' : 'carrinho: '  + (getValorTotal() | currency:'BRL') + '(' + totalDeItens() + ')' }}
    </button>
  </div>
  <div>
    <span class="bolder">
      {{ dadosUsuario() || 'Olá, visitante' }}
    </span>
    <button *ngIf="!usuarioLogado()" class="option" [routerLink]="['/login']">
      entrar
    </button>
    <button *ngIf="usuarioLogado()" class="option" (click)="logout()">
      sair
    </button>
  </div>
</div>
