<h1>Cadastro</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="categoria">Categoria</label>
    <select id="categoria" formControlName="categoria">
      <option value="alimentacao">Alimentação</option>
      <option value="limpeza">Limpeza</option>
    </select>
  </div>
  <div>
    <label for="produto">Produto</label>
    <input id="produto" type="text" formControlName="produto">
    <p *ngIf="form.get('produto')?.invalid && form.get('produto')?.touched">Informe um produto</p>
  </div>
  <div>
    <label for="valor">Valor</label>
    <input id="valor" type="number" formControlName="valor">
    <p *ngIf="form.get('valor')?.invalid && form.get('valor')?.touched">Informe um valor</p>
  </div>

  <input type="submit" value="Cadastrar">
  {{ form.invalid }}
</form>
